/Code/Class3/Atributes/nbproject/private/
/Code/Class3/Atributes/build/
/Code/switch/nbproject/private/
/Code/class5/switch/build/
/Code/PracticaSwitch/nbproject/private/
/Code/PracticaSwitch/build/
/Code/class7/nbproject/private/
/Code/class7/build/
/Code/PrácticaString/nbproject/private/
/Code/PrácticaString/build/